<app-categories></app-categories>
<div class="row"> &nbsp;</div>
<div *ngIf="projects">
  <!--<div class="row" *ngFor="let project of projects">
    <div class="col-sm-12"><app-project [project]="project"></app-project></div>
  </div>-->
  <mat-grid-list cols="2" rowHeight="1.1:1">
    <mat-grid-tile *ngFor="let project of projects">
      <app-project [project]="project"></app-project>
    </mat-grid-tile>
    <!--<mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>-->
  </mat-grid-list>
</div>

